.board {
	width: 100%;
	height: 100%;
}
.panel {
	white-space: nowrap;
	padding: 5px;
}
#content {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	margin-bottom: 1%;
}

#js {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	padding: 5px;
}

#control {
	position: relative;
	white-space: nowrap;
}

#html {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	padding: 5px;
}

#css {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	padding: 5px;
}
@-webkit-keyframes pulsate {
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}    
@keyframes pulsate {
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
