.loading {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 1000;
}
.loading span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 25%;
	
}
.title {
	font-size: 12px;
	background-color: #000066;
	color: #ffffff;
	padding: 3px;
	padding-left: 5px;
	text-weight: bold;
}
.board {
	width: 100%;
	height: 100%;
}
.panel {
	white-space: nowrap;
	padding: 5px;
}
#content {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	margin-bottom: 1%;
	overflow: hidden;
}

#js {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	padding: 5px;
	overflow: auto;
}

#control {
	position: relative;
	white-space: nowrap;
}

#html {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	padding: 5px;
	overflow: auto;
}

#css {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: #000069 solid 1px;
	border-radius: 5px;
	padding: 5px;
	overflow: auto;
}

.panel.control {
	text-align: center;
}
.panel.control button {
	margin: 3px 7px;
}

.panel button {
	width: 100px;
	margin: 3px 5px;
	background-color: #006600;
	background: linear-gradient(#060, #030);
	border-radius: 5px;
	color: #cecefe;
	border: #00aa00 outset 2px;
	box-shadow: 0px 3px 5px #000;
	text-shadow: 0 -1px 0 #000;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}
.panel button[disabled]:hover,
.panel button[disabled]:focus {
	background: linear-gradient(#060, #030);
	-webkit-animation: none;
	animation: none;
}
.panel button:hover,
.panel button:focus {
	background: linear-gradient(#070, #040);
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
.panel button:active {
	border: #00aa00 inset 2px;
	box-shadow: 0px 0px 0px #000;
	text-shadow: 0 0px 0 #000;
	-webkit-transform: translateY(3px);	
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}
.panel button[disabled]:active {
	border: #00aa00 outset 2px;
	box-shadow: 0px 3px 5px #000;
	text-shadow: 0 -1px 0 #000;
	-webkit-transform: none;	
	transform: none;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

@-webkit-keyframes pulsate {
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}    
@keyframes pulsate {
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
